// ADHOC STYLES
//=============================================================

// Commons
//-------------------------------------------------------------
body
	background: #ccc

.container
	background: #fff
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
	margin: 0 auto
	width: 100%
	max-width: 1400px

.subcontainer
	margin: 0 auto
	width: calc(100% - 40px)
	max-width: 100%
	position: relative
	z-index: 1

@media (min-width: $grid-breackpoint-md)
	.container
		width: 100%

	.subcontainer
		width: calc(100% - 150px)

@media (min-width: $grid-breackpoint-lg)
	.container
		width: calc(100% - 60px)

	.subcontainer
		width: 900px


.w-100
	display: inline-block
	margin: 0 0 60px
	text-align: center
	width: 100%

.w-25,
.w-33,
.w-66,
.w-75
	display: inline-block
	margin: 0 0 20px
	width: 100%

@media (min-width: $grid-breackpoint-md)
	.w-25,
		width: 25%

	.w-75
		width: 75%

@media (min-width: 700px)
	.w-md-50
		width: 50%

	.w-md-100
		width: 100%

@media (min-width: $grid-breackpoint-lg)
	.w-33
		width: 33.333%

	.w-66
		width: 66.666%
